

.text_dynamic_table
{
    color: #6B6B6B;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
}
.text_dynamic_table1
{
    color: #6B6B6B;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.text_dynamic_table_text
{
    color: #A4A4A4;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28.8px; /* 180% */
}
.text_dynamic_table_text1
{
    color: #A4A4A4;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 40px !important;
}
.cursor_point
{
    cursor: pointer;
}

.padding_manage
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.badge_style_wh
{
    color: white !important;
}

.margin_adjust_new
{
    margin-top: 3px;
    margin-bottom: -0.2px;
    text-align: center;
}

.margin_top_oftable
{
    margin-top: 0.5px;
}

.border_top_orange
{
    border-top: 4px solid #F5BF00;
    border-top-left-radius: 5px !important;
}

.dropdown-toggle::after
{
    display: none !important;
}

.color_icon_dropdown
{
    text-decoration: none;
    color: gray;
}