@import "../../App.scss";
@import "../../mediaQueries.scss";

.wrapper{
  height: 100vh;
}
.card{
 width: 800px;
 padding: 20px;
 height: max-content;
 border-radius: 5px;
 color: black;
 background-color: rgb(252, 254, 255);
 padding: 10px;
 box-shadow: 5px 6px 5px #c6c5c5;
}
.spanText{
  font-size: small;
  font-weight:600;
  color: #8d8b8b;
}
.card-header{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.arrows{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    height: 100%;
    overflow: hidden;
}
.form {
      display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.add{
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: baseline;
  justify-items: stretch;
  flex-direction: row;
}
.content{
  display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 20px;
}
.text{
font-size: medium;
font-weight: bold;
}
.text2{
padding-right: 300px
}

.span{
  font-size: small;
  font-weight: 600;
  color: #8d8b8b;
  margin-top: 25px;
  font-size: 14px;
  
}
.spanDate{
  font-size: 16px;
  font-weight: bold;
  color: #8d8b8b;

  
}
.round-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #337ab7;
  
}
.span2{
  font-size:large ;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #212121;
  margin-top: 200px;
}
.date{
    font-size: medium;
    font-weight: bold;
    color: #559fff;
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
      width: 200px;
    }
  }
.check-box{
  display: flex;
  flex-direction: row;
  // margin: 20px;
  .css-1qwvv1b-MuiTypography-root{
    color:#8d8b8b;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  
  }
}
.card-cont{
  max-height: 100%;
  min-height: auto;
}
.card-header {
  background-color: #fff; /* replace with your desired color */
}
.card-footer{
  background-color: #fff; /* replace with your desired color */
}

.card-body-cont{
      overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.button{
  margin-top: 17px;
  margin-left: 20px;
}
.checkbox{
  display: flex;
  // align-content: center;
  // justify-content: space-around;
  // align-items: center;
  width: 60px;
}
.checkboxes{
  display: flex;
  // align-content: center;
  // justify-content: center;
  // align-items: center;
  // width:60px
}
.format3{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:  #8d8b8b;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 10px;
}
.row{
  display: flex;
 
}
.dates{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #8d8b8b;
    .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
     height: 15px;
     width: 150px;
     background-color: hwb(187 78% 5%);
     border: 0;
     border-radius: 2px;

    }
    .css-1unc4a9-MuiInputBase-root-MuiOutlinedInput-root {
      background-color: hwb(187 78% 5%);
      width:180px

    }
}
.form-error{
  font-size: 12px;
  position: fixed;
    font-weight: normal;
    color: red;
    text-align: initial;
}
.autocomplete{
  display: flex;
  margin:20px 0px 20px 0px;
  .css-l3ln04-MuiAutocomplete-root{
    width:250px;
    height: -40px;
  }
  .css-5bvyjh-MuiInputBase-root-MuiOutlinedInput-root {
    height: 30px;
  }
  .MuiAutocomplete-input {
    padding: 7.5px 4px 10px 6px;
    font-size: 14px;
    // font-family: fangsong;
    margin-top: -9px;

    // color: #c8eef3;
  }
  .css-a5xs0d-MuiFormLabel-root-MuiInputLabel-root{
    margin-top: -9px;
    font-size: 14px;
    // font-family:Georgia, 'Times New Roman', Times, serif;
  }
}

.format{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
  color: #8d8b8b;
  .css-1unc4a9-MuiInputBase-root-MuiOutlinedInput-root{
    background: #c8eef3;
 width:150px
  }
}
.formatFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
  color: #8d8b8b;
  .css-1unc4a9-MuiInputBase-root-MuiOutlinedInput-root{
    background: #c8eef3;
 width:150px
  }
}
.format2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  align-content: baseline;
  margin-left: 20px;
}

.time{
  font-size:12px;
  text-align:left;

.css-c5v1qu-MuiInputBase-input-MuiFilledInput-input{
 background: #c8eef3;
}
}
.padding{
  margin-left: 20px;
}


// [class*="col-"] {
//   width: 100%;
// }

.week-wrapper{
  display: flex;
  justify-content: baseline;
  align-content: baseline;
  // width: 60px;

 
}

.load-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border-radius: 1825px;
  background-color: #b5d5ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border: none;
}
.buttons{
  .css-sghohy-MuiButtonBase-root-MuiButton-root{
        height: 30px;
   margin-left: 310px;
  }

}
.footer{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: baseline;
  padding: 6px 12px;
}

.load-more-button:hover {
  background-color: #b5d5ff;
  cursor: pointer;
}
.checkboxs{
  margin-right: 20px;
  // display: flex;
  // align-content: center;
  // justify-content: space-around;
  // align-items: center;
  // width: 60px;
}

.arrow {
  position: absolute;
  right: 20px;
  font-size: 24px;
  transition: transform 0.2s;
  color:white;

}

// .load-more-button:hover .arrow {
//   transform: translateX(10px);
// }

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #b5d5ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.edit:hover {
  
  cursor: pointer;
}

.arrow {
  position: absolute;
  right: 20px;
  font-size: 24px;
  transition: transform 0.2s;
}

.edit:hover .arrow {
  transform: translateY(10px);
}

.edit::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #b5d5ff;
  transform: scale(0);
  transition: transform 0.2s;}
.show-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #ffb5b5;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.show-more-button:hover {
  
  cursor: pointer;
}

.arrow {
  position: absolute;
  right: 20px;
  font-size: 24px;
  transition: transform 0.2s;
}

.show-more-button:hover .arrow {
  transform: translateY(10px);
}

.show-more-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #b5d5ff;
  transform: scale(0);
  transition: transform 0.2s;}

@include tablet {
 .card,.card-header,.check-box.content {
    width: 80%;
    padding: auto;
  }
}

@include mobile {
  .card,.card-header,.check-box,.content{
    width:75%;
    padding: auto;

  }
  .wrapper{
    overflow: auto;
  }
  
}
.wrapper {
  /* General styles for wrapper */

  @media screen and (max-width: 768px) {
    /* Styles for screens up to 768px width */
    /* For example, you can adjust the width or padding */
  }

  @media screen and (max-width: 480px) {
    /* Styles for screens up to 480px width */
    /* For example, you can modify the font size or margins */
  }
}

.arrows {
  /* General styles for arrows */

  @media screen and (max-width: 768px) {
    /* Styles for screens up to 768px width */
    /* For example, you can adjust the font size or margins */
  }

  @media screen and (max-width: 480px) {
    /* Styles for screens up to 480px width */
    /* For example, you can modify the font size or margins */
  }
}

.card {
  /* General styles for card */

  @media screen and (max-width: 768px) {
    /* Styles for screens up to 768px width */
    /* For example, you can adjust the padding or font size */
  }

  @media screen and (max-width: 480px) {
    /* Styles for screens up to 480px width */
    /* For example, you can modify the padding or font size */
  }
}